<!-- ボタンのリンク先 rubyとjsで分ける -->
<% if @current_user then link = '/add' else link = './' end %>

<!-- ワード追加のボタン -->
<div class='text-center mb-4'>
	<a href='<%= link %>' id='get_word' class='btn btn-primary text-center'>新しいワードを追加 ＋</a>
</div>

<table class='table table-sm'>
	<thead class='thead-light'>
		<tr class='row'>
			<th class='col-2 col-lg-1'></th>
			<th class='col-8 col-lg-9'>検索ワード</th>
			<th class='col-1 col-lg-1'>目印</th>
			<th class='col-1 col-lg-1'>削除</th>
		</tr>
	</thead>
  <tbody>
	<!-- ログイン中は、Rubyでテーブル表示 -->
	<% if @current_user %>
		<% for word in @words %> <!-- DBから取り出す  -->
			<% user = User.find_by(id: word.user_id) %> <!-- それぞれの単語ごとにユーザーを特定 -->
			<tr class='row'>
				<!-- New -->
				<% if word.visit==0 then deco='NEW' else deco='' end %> <!-- 訪問チェック -->
				<td class='col-2 col-lg-1'>
          <div class='text-danger new'><%= deco %></div>
				</td>

				<!-- 検索ワード -->
				<td class='col-8 col-lg-9 word'>
          <a href='<%= "/#{word.id}/visit" %>' onclick='window.open("https://www.google.com/search?q=<%= "#{word.content}" %>")' class='d-block'> <!-- visitアクション起こすと同時に、jsでGoogleブラウザ開く -->
	        	<%= word.content %> 
	        	<!-- <%= user.id %>  その単語のユーザーID--> 
        	</a>
				</td>

			  <!-- スター -->  
				<% if word.star==0 then color='nostar' else color='star' end %> <!-- 色の為のクラス -->
				<td class='col-1 col-lg-1'>
          <a href='<%= "/#{word.id}/update" %>' class='<%= color %>'><i class='material-icons'>star</i></a>
				</td>

			  <!-- ごみ箱 -->  
				<td class='col-1 col-lg-1'>
          <a href='<%= "/#{word.id}/delete" %>'><i class='material-icons trash'>delete</i></a>
				</td>

			</tr>
		<% end %> <!-- for文終わり -->

	<% else %> <!-- ログアウト中は、HTMLでjsの為のテーブルを表示 -->
		
<script>

for (var i=localStorage.length-1; i>=0; i--) {
  var id = localStorage.key(i);
  var getjson = localStorage.getItem(id); 
  var obj = JSON.parse(getjson); // JSON → オブジェクト

  // New
  if(obj.visit == 0){var deco='NEW'} else {var deco=''}
  td1.innerHTML = '<div class="text-danger new">' + deco; + '</div>'
  // 検索ワード
  td2.innerHTML = '<a onclick="changeStorage(\'' + id + '\',\'visit\')" href="https://www.google.com/search?q='+ obj.name + '" target="_blank" class="d-block">' + obj.name + '</a>'; 
  // スター  
  if(obj.star == 0){var color='nostar'} else {var color='star'}
  td3.innerHTML = '<a onclick="changeStorage(\'' + id + '\',\'star\')" class=" '+ color +'"><i class="material-icons">star</i></a>';
  // ごみ箱
  td4.innerHTML = '<a onclick="removeStorage(\'' + id + '\')" class="trash"><i class="material-icons">delete</i></a>';
}

</script>
    <tr>
    	<td id='td1' class='col-2'></td>
    	<td id='td2' class='col-8 word'></td>
    	<td id='td3' class='col-1'></td>
    	<td id='td4' class='col-1'></td>
    </tr>
<script>

// if(localStorage.length > 5){ // ストレージのデータが10個を超えたら
// tr_long = document.createElement('tr').setAttribute("colspan", "3"); //エラー
// tb.appendChild(tr_long); td_long = document.createElement('td'); tr_long.appendChild(td_long);

// 全て削除のごみ箱
// td_long.innerHTML = '<a onclick="clearStorage()">全て削除<i class="material-icons point trash">delete_forever</i></a>';
// }    

</script>


	<% end %>
  </tbody>
</table>


<!-- ログアウト中は、javascriptの関数を読み込む -->
<% if @current_user == nil %>
	<script>
		var word = '<%= add() %>' // top_controllerから、生成されたワードを呼び出す
		// 新ワード追加ボタンでonclick起こす前に（ページ読み込み時に）もう単語出来上がらせる
	</script>
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<!-- applcation.jsを読み込む -->
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<% end %>
