<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>ランダムメモ</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>


<!-- 新ワード追加ボタン -->
<%
if 1 == 1   # ログイン中の場合
	link = '/add' # サーバーで処理
else # ログアウト中の場合
	link = './' 
	action = 'getWord()' # csvデータ取得して、ローカルストレージに追加
end 
%>

<div class='text-center mb-4'>
			<a href='<%= link %>' class='btn btn-primary text-center' onclick='<%= action %>'>新しいワードを追加 ＋</a>
			<!-- <form action='' method='get'> -->
			<!-- <input type='submit' name='make' value='ワードを追加 ＋' class='btn'> -->
</div>



<!-- テーブルを表示 -->
<table class='table table-sm'>
  <tbody id='tb'>
	<% if 1 == 1 %>  <!-- ログイン中 -->
		<!-- for 「word」が１行になるように、DBから降順にiで取り出す  -->
			<tr>
				<!-- New -->
				<% if word.visit=0 then deco='NEW' else deco='' # 訪問チェック %>
				<td class='col0'>
          <div class='text-danger'><%= deco %></div>
				</td>

				<!-- 検索ワード -->
				<td class='col8'>
          <a href='https://www.google.com/search?q="'<%= word.content %>'"' target='_blank' class='d-block'><%= word.content %></a>
				</td>

			  <!-- スター -->  
				<% if word.star=0 then color='nostar' else color='star' # 色の為のクラス %>
				<td class='col1'>
          <a href='/update' class='color'><i class='material-icons'>star</i></a>
				</td>

			  <!-- ごみ箱 -->  
				<td class='col1'>
          <a href='/delete'><i class='material-icons'>delete</i></a>
				</td>

			</tr>
		<!-- for終わり -->
	<% end %> <!-- ログアウト中は、id='tb'から勝手に生成してくれる -->
  </tbody>
</table>


<!-- ログインしてない場合は、ローカルストレージのデータと連携 -->
<script>
if(1 == 0){ 
	////// この処理は、「新規」ボタンが押されたときのみ。そして本来jsファイルの方に書く
	// var getWord = function(){  
		// ローカルストレージに保存
		uuid = getUniqueStr(); // ユニークなIDを取得　
		var Key = 'randomMemo_'+uuid; // このサイト特有の文字列を組み合わせる
		var _name = '<%= @word_ja %>'; // ワードを生成してセット
		var _star = 0; // 始めはスターなし
		var _visit = 0; // 始めは訪れてない
		saveStorage(Key,_name,_star,_visit); 
	// }
}
</script>

</body>
</html>
