<!-- ボタンのリンク先 rubyとjsで分ける -->
<% if @current_user then link = '/add' else link = './' end %>

<!-- ワード追加のボタン -->
<div class='text-center mb-4'>
	<a href='<%= link %>' id='get_word' class='btn btn-warning text-center'>新しいワードを追加 ＋</a>
</div>

<!-- テーブル 選択されてるサイトによって、ホバー時の文字や、下線の色を変える -->
<table class='table
	<% if session[:site]=='Twitter' %>
		blue
	<% elsif session[:site]=='Youtube' %>
		red
	<% end %>
'>
	<thead class='thead-light'>
		<tr class='row'>
			<th class='d-none d-sm-block col-2 col-lg-1'></th>
			<th class='col-10 col-sm-8 col-lg-9'>


				<!-- Google・Twitter・Youtubeのリンクを、sessionの値によって場合分け -->

 				<% if session[:site] == nil then session[:site] = 'Google' end %> <!-- 最初の値はGoogle -->

 				<!-- controllerでセットしたサイト名と色を取り出していく -->
 				<% for site in @sites %>
					<!-- パラメータにはサイト名を指定（Google/change_site） -->
					<a 
						href='<%= site[0][:name] %>/change_site'
						class='
							btn btn-<%= site[0][:color] %> btn-sm
							<% if session[:site] != "#{site[0][:name]}" %>
								mute
							<% end %>
						'
					>
					<%= site[0][:name] %></a>	
				<% end %>

	
			</th>
			<th class='col-1 col-lg-1'><span class='d-none d-md-block'>目印</span></th>
			<th class='col-1 col-lg-1'><span class='d-none d-md-block'>削除</span></th>
		</tr>
	</thead>
  <tbody id='tb'>
	


	<% if @current_user %><!-- ログイン中は、Rubyでテーブル表示 -->
		<% for word in @words %> <!-- DBから取り出す  -->
			<% user = User.find_by(id: word.user_id) %> <!-- それぞれの単語ごとにユーザーを特定 -->
			<tr class='row'>

				<!-- New -->
				<% if word.visit==0 then deco='NEW' else deco='' end %> <!-- 訪問チェック -->
				<td class='d-none d-sm-block col-sm-2 col-lg-1'>
          <div class='new'><%= deco %></div>
				</td>


				<!-- 検索ワード -->

				<%  # ボタンによってURLの種類を指定
					if session[:site] == 'Google'
						site_url = 'https://www.google.com/search?q='

					elsif session[:site] == 'Youtube'
						site_url = 'https://www.youtube.com/results?search_query='

					elsif session[:site] == 'Twitter'
						site_url = 'https://twitter.com/search?q='
						# https://twitter.com/search?q=単語&src=typd  &src=typd って何？ある方が良いかを検証
						# site_url = 'https://twitter.com/hashtag/' # ハッシュタグで検索する場合
					end 
				%>
				<td class='col-9 col-sm-8 col-lg-9 word'>
          <a href='<%= "/#{word.id}/visit" %>' onclick='window.open("<%= site_url + word.content %>")' class='d-block'> <!-- visitアクション起こすと同時に、jsでGoogleブラウザ開く -->
	        	<%= word.content %> 
	        	<!-- <%= user.id %>  その単語のユーザーID--> 
        	</a>
				</td>

			  <!-- スター -->  
				<% if word.star==0 then color='nostar' else color='star' end %> <!-- 色の為のクラス -->
				<td class='col-1_half col-sm-1'>
          <a href='<%= "/#{word.id}/update" %>' class='<%= color %>'><i class='material-icons'>star</i></a>
				</td>

			  <!-- ごみ箱 -->  
				<td class='col-1_half col-sm-1'>
          <a href='<%= "/#{word.id}/delete" %>'><i class='material-icons trash'>delete</i></a>
				</td>

			</tr>
		<% end %> <!-- for文終わり -->



	<% else %> <!-- ログアウト中は、javascriptの関数を読み込む -->

		<script>
			var session = '<%= session[:site] %>'
			var word = '<%= add() %>' // top_controllerから、生成されたワードを呼び出す
			// 新ワード追加ボタンでonclick起こす前に（ページ読み込み時に）もう単語出来上がらせる
		</script>
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<!-- storage.jsを読み込む（/app/assets/javascript/application.js） -->
		<%= javascript_include_tag 'storage', 'data-turbolinks-track': 'reload' %>
		
	<% end %>



  </tbody>
</table>




