<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>ランダムメモ</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>


<!-- 新ワード追加ボタン -->
<%
if 1 == 1   # ログイン中の場合
	link = '/add' # サーバーで処理
else # ログアウト中の場合
	link = './' 
	action = 'getWord()' # csvデータ取得して、ローカルストレージに追加
end 
%>

<div class='text-center mb-4'>
			<a href='<%= link %>' class='btn btn-primary text-center' onclick='<%= action %>'>新しいワードを追加 ＋</a>
			<!-- <form action='' method='get'> -->
			<!-- <input type='submit' name='make' value='ワードを追加 ＋' class='btn'> -->
</div>



<!-- テーブルを表示 -->
<table class='table table-sm'>
  <tbody id='tb'>
	<% if 1 == 1 %>  <!-- ログイン中の場合 -->
		<% for word in @words.reverse %> <!-- DBから降順に取り出す  -->
			<tr>
				<!-- New -->
				<% if word.visit==0 then deco='NEW' else deco='' end %> <!-- 訪問チェック -->
				<td class='col0'>
          <div class='text-danger'><%= deco %></div>
				</td>

				<!-- 検索ワード -->
				<td class='col8'>
          <a href='<%= "/#{word.id}/visit" %>' onclick='window.open("https://www.google.com/search?q=<%= "#{word.content}" %>")' class='d-block'> <!-- visitアクション起こすと同時に、jsでGoogleブラウザ開く -->
	        	<%= word.content %>
        	</a>
				</td>

			  <!-- スター -->  
				<% if word.star==0 then color='nostar' else color='star' end %> <!-- 色の為のクラス -->
				<td class='col1'>
          <a href='<%= "/#{word.id}/update" %>' class='<%= color %>'><i class='material-icons'>star</i></a>
				</td>

			  <!-- ごみ箱 -->  
				<td class='col1'>
          <a href='<%= "/#{word.id}/delete" %>'><i class='material-icons trash'>delete</i></a>
				</td>

			</tr>
		<% end %> <!-- for文終わり -->
	<% end %> <!-- ログアウト中は、id='tb'から勝手に生成してくれる -->
  </tbody>
</table>
</body>
</html>
