<h1>ユーザー詳細</h1>

<table class='table table-sm'>
	<tr>
		<th>id</th>
		<th>名前</th>
		<th>メールアドレス</th>
	</tr>
	<tr>
		<td><%= @user.id %></td>
		<td><%= @user.name %></td>
		<td><%= @user.email %></td>
	</tr>
	<tr>
	</tr>
</table>


<!-- <h2>投稿</h2>
<table class='table'>
	<tr>
		<th></th>
		<td>

		</td>
	</tr>
</table> -->

<br>

<div class='btn btn-light'><%= link_to("編集", "/user/#{@user.id}/edit") %></div>
<div class='btn btn-light ml-3'><%= link_to("退会", "/user/#{@user.id}/delete") %></div>
