<!DOCTYPE html>
<html>
  <head>
    <title>新しい検索ワードと出会えるページ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name='viewport' content='width=device-width'> <!-- スマホの為のビューポート -->
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'> <!-- マテリアルアイコン -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'> <!-- Bootstrap -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- ナビ -->
    <nav class='navbar navbar-expand-sm bg-dark'>
      <div class='container'>
        <h2><a href='/'>検索棚</a></h2>

        <!-- リンク -->
        <ul class='navbar-nav'>
          <li class='nav-item'>
            <a class='nav-link' href='/user'>ユーザー一覧</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='/signup'>新規登録</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='/login'>ログイン</a> <!-- GETの方の '/login' -->
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='/logout' data-method='post'>ログアウト</a> <!-- GETの方の '/login' -->
            <%= 
            # link_to('ログアウト','/logout', method: :post, class: 'nav-link') 
            %> <!-- Postメソッド、classはnav-link -->
          </li>
        </ul>

     </div>
    </nav>

    <!-- フラッシュ -->
    <% if flash[:notice] %>
      <div class='bg-warning py-3 font-weight-bold'>
        <div class='container'>
          <%= flash[:notice] %>
        </div>
      </div>
    <% end %>
<%= session[:user_id] %>
    <!-- それぞれのページ -->
    <div class='container mt-3'>
      <%= yield %>
    </div>
  </body>
</html>
