<!DOCTYPE html>
<html>
  <head>
    <title>新しい検索ワードと出会えるページ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name='viewport' content='width=device-width'> <!-- スマホの為のビューポート -->
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'> <!-- マテリアルアイコン -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'> <!-- Bootstrap -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <!-- ナビ -->
    <nav class='navbar navbar-expand-sm bg-dark'>
      <div class='container'>
        <h2><a href='/'>検索棚</a></h2>

        
        <!-- リンク -->
        <ul class='navbar-nav'>

          <!-- ログイン時 -->
          <% if session[:user_id] %>
            <li class='nav-item'>
              <a class='nav-link' href='/user/<%= @current_user.id %>'>
                <%= @current_user.name %>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/logout'>ログアウト</a>
            </li>

            <!-- 管理者としてログインしてる時 -->
            <% if @current_user.email == 'nomura@mail.com' %>
              <li class='nav-item'>
                <a class='nav-link' href='/user'>ユーザー一覧</a>
              </li>
            <% end %>

          <!-- ログアウト時 -->
          <% else %>
            <li class='nav-item'>
              <a class='nav-link' href='/login'>ログイン</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/signup'>新規登録</a>
            </li>
          <% end %>

        </ul>

     </div>
    </nav>

    <!-- フラッシュ -->
    <% if flash[:notice] %>
      <div class='bg-warning py-3 font-weight-bold'>
        <div class='container'>
          <%= flash[:notice] %>
        </div>
      </div>
    <% end %>

    <!-- それぞれのページ -->
    <div class='container mt-3'>
      <%= yield %>
    </div>

  </body>
</html>
